header {
  text-align: center;
  border: 6px dashed blue;
  border-style: dashed;

  border: 19px dashed red;

  border-width: 20px;
  border-style: ridge;
  border-color: blue;

  border-radius: 18px;

  /*color: red;

  border-top-color: yellow;*/
  margin-bottom: 1em;
}

html {
  background-color: white;
}

body {
  background-color: black;
  color: white;
  max-width: 800px;
  /*width: 80%;*/
  margin: auto;
  padding: 1em;

  overflow-y: scroll;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: gray;
}

a:focus {
  color: lightblue;
}

a:hover {
  color: yellow;
}

a:active {
  color: red;
}

h1 {
  text-decoration: none;
}

div {
  border-bottom: 1px solid white;
}
